/* changed the background color of the entire page to #D5E1EF*/
/* I used rem instead of px for accessibility*/
body {
  background-color: #d5e1ef;
  box-sizing: content-box;
}

#white-card {
  position:relative;
  top: 14.41rem;
  right:35rem;
  bottom:14.41rem;
  left: 43.4375rem;
  width:20rem;
  height:31.19rem;
  border-radius: 0.625rem;
  background-color: #ffffff;
  box-shadow: 0px 25px 25px 0px rgb(0, 0, 0, 0.05);

}

.qr-code-img {
  width: 18rem;
  height: 18rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 0.625rem;
}
h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700; /* Bold font weight */
  margin-top: 1.5rem;
  text-align: center;
  margin-left: 1.5rem;
  font-size: 1.375rem;
  width: 16rem;
  height: 3.25rem;
  line-height: 120%;
  letter-spacing: 0rem;
}

p {
  font-family: "Outfit", sans-serif;
  font-weight: 400; /* Regular font weight*/
  color: #68778d;
  text-align: center;
  font-size: 0.9375rem;
  line-height: 140%;
  margin-left: 1.5rem;
  width: 16rem;
  height: 3.9375rem;
  letter-spacing: 0.0125rem;
}

.attribution {
  font-size: 0.6875rem;
  position:relative;
  top: 15.44rem;
  bottom: -20.50rem;
  left: 43.4375rem;
  width:20rem;
  height:31.19rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


/* Mobile Display*/
@media (width <= 375px) {
  #white-card { 
  position:fixed; 
  right:1.875rem;
  left: 1.875rem;
  }

  .attribution{
   position:fixed;
   margin-top:30.81rem;
   left:1.25rem;
  }
  
}